footer {
    text-align: center;
    padding: 20px;
}

.home-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4fc3a1;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.main-content {
    max-width: 128rem;
}
.centered-div {
    width: 80%; /* Adjust the width based on your preference */
    margin: 0 auto; /* Center the div horizontally */
    padding: 20px; /* Add padding to the div */
    box-sizing: border-box; /* Include padding and border in the width */
    display: flex;
}
.two-divs {
    padding: 20px; /* Add padding to the div */
}
#data-form {
    margin: 0 auto; /* Center the form */
    text-align: right; /* Right-align the content inside the form */
}
#plot_expected {
    /* max-width: 200px; Adjust the max-width based on your preference */
    margin: 0 auto; /* Center the form */
    text-align: right; /* Right-align the content inside the form */
}


input {
    width: 8rem; /* Make the input fields take full width */
    box-sizing: border-box; /* Include padding and border in the width */
    margin-bottom: 5px;
}

button {
    margin-bottom: 5px;
}

.display-box {
    border: 2px solid #3498db;
    border-radius: 8px;
    padding: 15px;
    margin: 20px;
    width: 300px;
}

/* Title styling */
.box-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #3498db;
}

/* Value styling */
.box-value {
    font-size: 24px;
    color: #2ecc71;
}